<html>
<head>
    <title>Display Recipes</title>
    <script>
        // Function to confirm the form submission and refresh the page if the user cancels
        function confirmAndRefresh(event) {
            event.preventDefault(); // Stop normal form submission for now

            const confirmed = confirm("Are you sure you want to save these changes? If this isn't your recipe, a copy will be created in your collection.");

            if (confirmed) {
                // Submit form if confirmed
                event.target.submit();
            } else {
                // Refresh page if cancelled
                location.reload();
            }
        }
    </script>
</head>
<body>
    <h1>Recipe: {{ recipe['name'] }}</h1>

        <!-- Success/Error Messages -->
    {% if message %}
        <div class="message message-{{ message_type }}">
            {{ message }}
        </div>
    {% endif %}

    <!-- Form to update the recipe -->
    <form method="POST" onsubmit="confirmAndRefresh(event)">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ recipe['name'] }}"><br><br>

        <label for="ingredients">Ingredients:</label><br>
        <textarea id="ingredients" name="ingredients" rows="14" cols="90">{{ recipe['ingredients'] }}</textarea><br><br>

        <label for="instructions">Instructions:</label><br>
        <textarea id="instructions" name="instructions" rows="14" cols="90">{{ recipe['instructions'] }}</textarea><br><br>

        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category" value="{{ recipe['category'] }}"><br><br>

        <label for="updated">Updated:</label><br>
        <input type="text" id="updated" name="updated" readonly value="{{ recipe['updated_at'].strftime('%m/%d/%Y %I:%M:%S %p') }}"><br><br>

        <!-- Submit button to update the recipe -->
        <input type="submit" value="Update">
    </form>

        {% if recipe.image_location %}
            <div class="recipe-image">
                <img src="{{ url_for('static', filename=recipe.image_location) }}" 
                    alt="{{ recipe.name }}" 
                    style="max-width: 300px; height: auto; border-radius: 4px;">
            </div>
    {% endif %}

    <!-- Show Another Recipe Button -->
    <form action="{{ url_for('get_random_recipe') }}" method="get">
        <button type="submit">Show Another Recipe</button>
    </form>

    <!-- Navigation for previous and next recipe -->
    <div>
        {% if paginated_recipes.has_prev %}
            <a href="{{ url_for('display_recipes', page=paginated_recipes.prev_num) }}">« Previous</a>
        {% endif %}

        {% if paginated_recipes.has_next %}
            <a href="{{ url_for('display_recipes', page=paginated_recipes.next_num) }}"> Next »</a>
        {% endif %}
    </div>
</body>
</html>
