<head>
<title>Sign-up</title>
</head>
<body>
<h2>Create your account for My Recipe Box</h2>
    <form method="POST" action="/add_user">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html> 